accelerate==0.26.0
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==5.2.0
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.2
bitsandbytes==0.42.0
blinker==1.7.0
Brotli
cachetools==5.3.2
certifi
cffi
charset-normalizer
click==8.1.7
contourpy==1.2.0
crcmod==1.7
cryptography
cycler==0.12.1
datasets==2.16.1
deepspeed==0.12.6
dill==0.3.7
distro==1.9.0
einops==0.7.0
et-xmlfile==1.1.0
filelock
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.10.0
func-timeout==4.3.5
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.41
gmpy2
hjson==3.1.0
huggingface-hub==0.20.2
idna
importlib-metadata==6.11.0
Jinja2
jmespath==0.10.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lagent==0.1.2
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.8.2
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
mmengine==0.10.2
modelscope==1.11.0
mpi4py-mpich==3.1.2
mpmath
multidict==6.0.4
multiprocess==0.70.15
networkx
ninja==1.11.1.1
numpy
opencv-python==4.9.0.80
openpyxl==3.1.2
oss2==2.18.4
packaging==23.2
pandas==2.1.4
peft==0.7.1
Pillow
platformdirs==4.1.0
protobuf==4.25.2
psutil==5.9.7
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pycparser
pycryptodome==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
Pygments==2.17.2
pynvml==11.5.0
pyOpenSSL
pyparsing==3.1.1
PySocks
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.1
regex==2023.12.25
requests
rich==13.7.0
rpds-py==0.16.2
safetensors==0.4.1
scipy==1.11.4
sentencepiece==0.1.99
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.5
streamlit==1.32.2
sympy
tenacity==8.2.3
termcolor==2.4.0
tiktoken==0.5.2
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.4
tqdm==4.66.1
transformers==4.36.2
transformers-stream-generator==0.0.4
triton==2.0.0
typing_extensions
tzdata==2023.4
tzlocal==5.2
urllib3
validators==0.22.0
watchdog==3.0.0
xtuner
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
